<%- include('./partials/header') %>
    <main class="main">
        <aside>
            <h3>Top places to visit</h3>
            <ul>
                <li >Taj Mahal-Agra</li>
                <li>India Gate-Delhi</li>
                <li>Statue of Unity-Gujrat</li>
                <li>Sindhiya palace-Madhya Pradesh</li>
                <li>Amber Palace-Jaipur</li>
                <li>Jim Corbett National Park - Nainital</li>
                <li>Spiti Valley - Himachal</li>
                <li>Sri Harmandir Sahib - Amritsar</li>
                <li>Jantar Mantar - Jaipur</li>
            </ul>
        </aside>
        <div class="main-content">
            <h1 class="main-heading" >Beauty of India !</h1>
            <img class="index-image" src="https://cdn.britannica.com/86/170586-050-AB7FEFAE/Taj-Mahal-Agra-India.jpg" align="right">
            <p class="main-content_text">
                India is one of the popular tourist destinations in Asia. India has fascinated people from all over the world with her 
                secularism and her culture. Hence, India is a country with a great potential for tourism. Bounded by the Himalayan ranges
                in the north and surrounded, on three sides by sea (Arabian sea, Bay of Bengal and Indian Ocean), India offers a wide 
                array of places to see and things to do. The enchanting backwaters, hill stations and landscapes make India a beautiful 
                country.There are historical monuments, beaches, places of religious interests, hill resorts, etc. that attract tourists.
                Every region is identified with its handicraft, fairs, folk dances, music and its people. Tourism is the second largest
                foreign exchange earner in India. The tourism industry employs a large number of people, both skilled and unskilled. 
                It promotes national integration and international brotherhood.Tourism is highly labour intensive industry of a unique
                type. It provides different services needed as well as expected by the incoming tourists. At the world level, 
                it is one of the largest in terms of money spent by tourists in the countries they visit. This amount is said to exceed
                the GNP of many countries with the sole exception of the USA. According to the latest estimates of the world travel
                and tourism council,this industry is expected to generate about 6 percent of India’s total employment.
            </p>
        </div>
    </main>

<%- include('./partials/footer') %>