<%- include ('./partials/header') %>
    <div class="row">
        <h1>Login</h1>
        <div>
            <form action="/login" method="post">
                <div class="">
                    <input class="" type="text" name="username" placeholder="username">
                </div>
                <div class="">
                    <input class="" type="password" name="password" placeholder="password">
                </div>
                <div class="">
                    <button class="">Login</button>
                </div>
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>
<%- include ('./partials/footer') %>