<%- include ('./partials/header') %>
    <div class="">
        <h1>Sign Up</h1>
        <div>
            <form action="/register" method="post">
                <div class="">
                    <input class="" type="text" name="username" placeholder="username">
                </div>
                <div class="">
                    <input class="" type="password" name="password" placeholder="password">
                </div>
                <div class="">
                    <button class="">Sign Up!</button>
                </div>
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>
    <%- include ('./partials/footer') %>